@font-face {

    font-family: 'Forum';

    src: url('../fonts/Forum-Regular.eot');

    src: url('../fonts/Forum-Regular.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;
}

@font-face {

    font-family: 'MyriadPro';

    src: url('../fonts/MyriadPro-Regular.otf');
    
    src: url('../fonts/MyriadPro-Regular.otf');

    src: url('../fonts/MyriadPro-Regular.otf') format('truetype');

    font-weight: normal;

    font-style: normal;
}