 @import url('fonts.css');

.home_title {
  font-family: 'MyriadPro';
  font-size: 36px;
  /* line-height: 40px; */
  color: #000000;
  vertical-align: bottom;
  word-spacing: -2px;
  letter-spacing: -1px;
  /* padding-left: 12px; */
}

.headline_div {
  background-image: url('../images/headline.png')!important;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 767px;
  height: 20px;
}
.headline1_div {
  background-color: #f46ca1;
  background-repeat: repeat-x;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
}


.c_title0 {
   color: #000; 
   font-size: 26px; 
   vertical-align: bottom;
/*    line-height: 40px;
 */   font-family: 'MyriadPro';
   word-spacing: -1px;
   letter-spacing: -1px;
   padding-top: 10px;
}

.c_title1 {
   color: #000; 
   font-size: 28.48px; 
   font-family: 'MyriadPro';
   word-spacing: -1px;
   letter-spacing: -1px;
   font-weight:  normal;
}

.c_title2 {
   color: #646464; 
   font-size: 18px;
   font-family: 'MyriadPro';
   word-spacing: -1px;
   letter-spacing: -1px;
}
.c_title3 {
   width: 325px;
   color: #000; 
   font-size: 16px; 
   font-family: 'MyriadPro';
   word-spacing: -2px;
   letter-spacing: -0px;
}

.c_title4 {
  font-family: 'MyriadPro';
  word-spacing: -1px;
  letter-spacing: -1px;
  color: #000; 
  font-size: 21.5px;
  
}


.input_text {
  border-radius: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  height:  35px;
  width: 100%;
  padding-left: 5px !important;
  background-color: #ebebeb !important;
  border-top: solid 1px #dfdfdf !important;
  border-right: solid 1px #d6d6d6 !important;
  font-size: 16px !important;
  font-family: 'MyriadPro';
  color: #000;
}
.div_select {
  /* background: url('ext/plugin/bin/<?php echo $folder; ?>/assets/images/select_bg.png') no-repeat 0px 0px; */
  //background-color: #ebebeb;
  //border-top: solid 1px #dfdfdf;
  //border-right: solid 1px #d6d6d6;
  overflow: hidden;
  width: 100%;
  height: 38px;
  background-color: transparent;
  color: #000;
}
.input_textarea {
  border-radius: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  padding-left: 5px !important;
  background-color: #ebebeb !important;
  border-bottom: solid 2px #dfdfdf !important;
  width: 100%;
  height: 35px;
  font-size: 16px !important; 
  font-family: 'MyriadPro'!important;
  color: #000;
}

.select_text {
  background: url('../images/select_arrow.png') no-repeat 99% 50% !important;
  border-radius: 0 !important;
  padding: 0px  !important;
  border: 0  !important;
  padding-left: 5px  !important;
  font-size: 16px  !important;
  font-family: 'MyriadPro';
  position: relative  !important;
  background-color: transparent;
  width: 100%;
  height: 38px !important;
  color: #000 !important;
  background-color: #ebebeb !important;
  border-top: solid 1px #cacaca !important;
  border-right: solid 1px #cacaca !important;
  appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;
}

.select_text2 {
  padding: 0px;
  border: 0;
  padding-left: 15px;
  font-size: 16px; 
  font-family: 'MyriadPro';
  position: relative;
  background-color: transparent;
  border: solid 1px #d6d6d6;
  width: 550px;
  height: 38px;
  color: #000;
}

.button_padding_0 {
  padding:  0px;
}